# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# Secrets / environment files
.env
.env.*

# Large/generated temporary files
*.log
